<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alessio.luca.a321do">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NoteActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".NoteActivity" />
        </activity>
        <activity
            android:name=".NotificationReceiverActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditNoteActivity"
            android:configChanges="orientation|screenSize" />

        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".NotificationRebooter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:label="321DO! Widget"
            android:name="WidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.alessio.luca.a321do.QUICK_NOTE_ACTION"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <activity android:name=".NewNoteActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:excludeFromRecents="true"
            android:noHistory="true"/>
        <activity android:name=".EditMediaActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".EditDetailsActivity" />
        <activity android:name=".EditCheckListActivity" />
        <activity android:name=".EditDateTimeActivity" />
        <activity android:name=".FaqActivity" />
        <activity android:name=".DailySummary" />
    </application>

</manifest>